@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.lobby {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
    width: 40%;
    background-image: url('../../styles/views/Pictures/CardBackground.png');
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2,h4 {
    margin: 0.5em 0;
  }

  &.countdown-container {
    display: flex;
    min-height: 40px;
  }
}

.lobby-player {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten(#ffeaae, 0);
    justify-content: space-between;
  }
  &.username {
    font-weight: 500;
    color: $textColor;
  }
  &.avatar {
    border-radius: 50%; // Make the avatar round
    width: 50px; // Set the width to a small size
    height: 50px; // Set the height to a small size
    object-fit: cover; // Ensure the image covers the entire area

  }
}