@import "../theme";
.basescreen {
  &.container {
    margin-top: 2em;
    min-height: 300px;

    @include center;
    flex-direction: column;
  }
  &.title-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Pictures/RiskMap2.png');
    background-size: cover;
    background-position: center;
    position: relative; //!* To position buttons relative to title-screen *!
  }

  &.form {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 50em;
 //   height: 20em;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 3em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }

  &.title {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; //!* Using a sans-serif font similar to the Risk logo *!
    font-size: 4rem; //!* Adjust size as needed *!
    font-weight: bold;
    color: #c40505; //!* Red color similar to the Risk logo *!
    text-transform: uppercase; //!* Making the text uppercase for consistency *!
    letter-spacing: 2px; //!* Adjust letter spacing as needed *!
    text-shadow: 1.5px 1.5px 0 #d2d2d2; //!* Adding a subtle shadow for depth *!
  }

  &.subtitle {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-family: Avenir-Next, Futura; //!* Change to your war-themed font *!
    color: #ff4343; //!* White text color *!
  }

  &.title-container,
  &.subtitle-container, &.buttons-container {
    margin-bottom: 20px; // !* Add some space between sections *!
    margin-top: 20px;
    border: 2px solid #ff4444; //!* Red border *!
    border-radius: 20px; //!* Rounded corners *!
    padding: 10px; //!* Add padding *!
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    //background-color: rgb(98, 98, 98); !* Darker and semi-transparent overlay *!
    //background-color: #504536;
    color: #b03838;
  }

  .avatar form{
    margin-top: 2em;
    min-height: 300px;
    //we include the center mixin defined in _theme.scss and save three duplicate lines :) *!
    @include center;
    flex-direction: column;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 50em;
    //   height: 20em;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 3em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;

  }
  .bottomright form{

  }
}






