.announcer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    padding: 20px;
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1001;
  
    // Initial state for animation
    opacity: 0;
    transform: translate(-150%, -50%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  
    &.visible {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  
    &.hidden {
      opacity: 0;
      transform: translate(-150%, -50%); // Move to the right when hidden
    }
  }

  .announcerContainer {
    position: fixed;
    top: 35%;
    left: -5%;
    width: 110%;
    height: 100px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);

    // Initial state for animation
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &.visible {
      opacity: 1;
      z-index: 1001;
    }

    &.hidden {
      opacity: 0;
      z-index: -1001;
      
    }
    &.c1 {
      background-color: rgb(190, 33, 33);
      border: 10px solid rgb(92, 13, 13);
    }
    &.c2 {
      background-color: rgb(49, 30, 221);
      border: 10px solid rgb(0, 2, 112);
    }
    &.c3 {
      background-color: rgb(170, 16, 218);
      border: 10px solid rgb(94, 34, 122);
    }
    &.c4 {
      background-color: rgb(13, 165, 51);
      border: 10px solid rgb(10, 109, 35);
    }
    &.c5 {
      background-color: rgb(245, 120, 18);
      border: 10px solid rgb(187, 95, 8);
    }
    &.c6 {
      background-color: rgb(146, 86, 58);
      border: 10px solid rgb(110, 66, 45);
    }
  }
  